<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/lyndo/Practical/SamsungCalculatorAutomation"><classes><class name="testcases.AdditionTest"><methods><include name="additionTest"/></methods></class><class name="testcases.DivisionTest"><methods><include name="divisionTest"/></methods></class><class name="testcases.MultiplicationTest"><methods><include name="multiplicationTest"/></methods></class><class name="testcases.SubtractionTest"><methods><include name="subtractionTest"/></methods></class></classes></test></suite>